@font-face {
  font-family: GraphikBold;
  src: url(../fonts/Graphik-Bold.otf);
}

@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik.otf);
}

@font-face {
  font-family: Bookish;
  src: url(../fonts/Bookish.otf);
}

@font-face {
  font-family: ReplicaMono;
  src: url(../fonts/ReplicaMonoLL-Regular.otf);
}

@font-face {
  font-family: ReplicaBold;
  src: url(../fonts/ReplicaLL-Bold.otf);
}

@font-face {
  font-family: ReplicaReg;
  src: url(../fonts/ReplicaLL-Regular.otf);
}

@font-face {
  font-family: ReplicaLight;
  src: url(../fonts/ReplicaLL-Light.otf);
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


.replica-amp {

  font-family: "ReplicaReg";

  font-variation-settings: "ss09" ss09;
  /* "ss01" is the OpenType feature name, 2 is the variation number  */

}

@media all and (max-width: 800px) {
  .mobile-hp-container {
    display: flex;
    flex-direction: row;
  }
}

.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  font-style: normal;
}

.dongle-regular {
  font-family: "Dongle", serif;
  font-weight: 400;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer */
body {
  -ms-overflow-style: none;
}

body {

  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
}

.wrapper {}

#form {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 30vw;
  max-width: 500px;
  z-index: 10000000;
  display: none;
  flex-direction: column;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 5px 30px 5px 5px;
}

@media all and (max-width: 800px) {
  #form {
    left: 15px;
    width: calc(100vw - 60px);
    max-width: unset;
    bottom: 50px;

  }
}

input {
  margin: 0px 0px 10px 0px;
  border: none;
  border-radius: 3px 15px 3px 3px;
  font-family: ReplicaLight;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 10px;
    background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

input:focus{
  border: 1px dashed black;
}

textarea {
  height: 150px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-family: ReplicaLight;
  letter-spacing: 1px;
  font-size: 15px;
    background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

button {
  border: none;
  min-width: 100px;
  border-radius: 10px;
  font-family: ReplicaLight;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-sizing: border-box;
  border: .1px solid rgba(0,0,0,0.4);
}

#result{
  font-family: ReplicaLight;
  letter-spacing: 1px;
  font-size: 10px;
  margin-top: 20px;
}